.btn-floating-guia {
	margin-top: 2%;
}

.btn-relatorio {
	margin-right: 5%;
	margin-top: 2.5%
}

.btn-floating-form {
	margin-top: 2.5%;
	height: 40px;
}

.btn-imprimir {
	margin-top: 5%;
	height: 40px;
}

.btn-nota {
	margin-top: 5%;
	height: 40px;
}

.btn-visualizar {
	height: 40px;
}