<div class="container">
	<div class="row center-align">
		<h5><strong>Dados do Contrato</strong></h5>
		<div class="col s12 center-align">
			<h5><strong>Contrato de N˚ {{editar.contrato.num_contrato}}</strong></h5>
			<table class="bordered centered col s12">
				<tr>
					<td><strong>TIPO CONTRATO:</strong>&nbsp;{{editar.contrato.tipo_contrato | tipoContrato}}</td>
					<td><strong>VIGÊNCIA:</strong>&nbsp;{{editar.contrato.inicio_contrato | date:'dd/MM/yyyy'}} ATÉ
						{{editar.contrato.fim_contrato | date:'dd/MM/yyyy'}}</td>
				</tr>
				<tr>
					<td colspan="2"><strong>SIGLA:</strong>&nbsp;{{editar.contrato.sigla_contrato}}</td>
				</tr>
				<tr>
					<td colspan="2"><strong>OBJETO:</strong>&nbsp;{{editar.contrato.objeto_contrato}}</td>
				</tr>
			</table>
		</div>
		<div class="col s12 center-align">
			<h5><strong>Dados do Fornecedor</strong></h5>
			<table class="bordered col s12">
				<tr>
					<td><strong>NOME:</strong>&nbsp;{{editar.contrato.nome_fornecedor}}</td>
					<td><strong>CNPJ:</strong>&nbsp;{{editar.contrato.cnpj_fornecedor | cnpj}}</td>
				</tr>
				<tr>
					<td><strong>ENDEREÇO:</strong>&nbsp;{{editar.contrato.logradouro_fornecedor}},&nbsp;{{editar.contrato.numero_fornecedor}}
					</td>
					<td><strong>CEP:</strong>&nbsp;{{editar.contrato.cep_fornecedor | cep}}</td>
				</tr>
				<tr>
					<td><strong>BAIRRO:</strong>&nbsp;{{editar.contrato.bairro_fornecedor}}</td>
					<td><strong>CIDADE/UF:</strong>&nbsp;{{editar.contrato.cidade_fornecedor}} -
						{{editar.contrato.estado_fornecedor}}</td>
				</tr>
				<tr data-ng-if="editar.contrato.complemento_fornecedor">
					<td><strong>COMPLEMENTO:</strong>&nbsp;{{editar.contrato.complemento_fornecedor}}</td>
				</tr>
				<tr>
					<td><strong>CONTATO:</strong>&nbsp;{{editar.contrato.contato_fornecedor}}</td>
					<td><strong>EMAIL:</strong>&nbsp;{{editar.contrato.email_fornecedor}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<form name="formProdutosContrato" data-ng-submit="editar.inserir()">
		<div class="row">
			<div class="input-field col s12 m7 l7">
				<i class="material-icons prefix">shopping_cart</i>
				<select
					data-ng-options="produto.id_produto as produto.descricao_produto disable when produto.disabled === true for produto in editar.produtos | orderBy:'descricao_produto'"
					data-ng-model="editar.itens.id_produto_itenscontrato" required
					data-ng-change="editar.getPrice(editar.itens.id_produto_itenscontrato)">
					<option value="" disabled selected>ESCOLHA O PRODUTO</option>
				</select>
				<label>Produto</label>
			</div>
			<div class="input-field col s12 m2 l2">
				<input id="valor_produto_itenscontrato" name="valor_produto_itenscontrato" type="text" maxlength="10"
					data-ng-minlength="3" data-ng-pattern="/^((?=\S)\d{1,3}(?:\.\d{3})*,\d{2})$/"
					data-ng-class="{'invalid': formProdutosContrato.valor_produto_itenscontrato.$error.minlength || formProdutosContrato.valor_produto_itenscontrato.$error.pattern}"
					data-ng-model="editar.itens.valor_produto_itenscontrato" disabled data-uimoney>
				<label for="valor_produto_itenscontrato">Valor Unitário</label>
			</div>
			<div class="input-field col s12 m2 l2">
				<input class="right-align" id="saldo_produto_itenscontrato" name="saldo_produto_itenscontrato"
					type="text" required data-ng-model="editar.itens.saldo_produto_itenscontrato"
					data-ng-pattern="/^((?=\S)(\d{1,8}))$/" data-ng-minlength="1"
					data-ng-class="{'invalid': formProdutosContrato.saldo_produto_itenscontrato.$error.minlength || formProdutosContrato.saldo_produto_itenscontrato.$error.pattern}"
					data-uinum maxlength="8">
				<label for="saldo_produto_itenscontrato">Saldo Contrato</label>
			</div>
			<button class="btn-floating btn-floating-guia" data-ng-disabled="formProdutosContrato.$invalid"><i
					class="material-icons">add</i></button>
		</div>
	</form>
</div>
<div class="container big">
	<div class="col s12 center-align" data-ng-if="editar.produtosContrato.length >= 1">
		<button class="waves-effect waves-light btn btn-visualizar"
			data-ui-sref="menu.imprimircontrato({id_contrato: editar.contrato.id_contrato})"><i
				class="material-icons left">description</i>Visualizar</button>
	</div>
	<br>
	<div data-ng-if="editar.produtosContrato.length >= 1">
		<div class="col s12 center-align">
			<h5><strong>Produtos Adquiridos</strong></h5>
			<table class="bordered centered">
				<thead>
					<tr>
						<th class="produto center-align">Produto</th>
						<th class="center-align">Und</th>
						<th class="center-align">Saldo</th>
						<th class="center-align">Valor Unitário</th>
						<th class="center-align">Valor Total</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="item in editar.produtosContrato | orderBy:'descricao_produto'">
						<td class="produto">{{item.descricao_produto}}</td>
						<td>{{item.unidade_produto}}</td>
						<td>{{item.saldo_produto_itenscontrato}}</td>
						<td>{{item.valor_produto_itenscontrato | currency:'R$ ':2}}</td>
						<td>{{item.saldo_produto_itenscontrato * item.valor_produto_itenscontrato | currency:'R$ ':2}}
						</td>
						<td>
							<button class="btn-floating red"
								data-ng-click="editar.excluir(item.id_itenscontrato, item.id_produto)"><i
									class="material-icons">delete</i></button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th class="right-align" colspan="4">Valor Total do Contrato</th>
						<th class="center-align">{{editar.produtosContrato |
							SomaTotal:'valor_produto_itenscontrato':'saldo_produto_itenscontrato' | currency:'R$ ':2}}
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>