<div class="container big">
	<h5 class="center-align"><strong>Lista de Produtos</strong></h5>
	<div class="row">
		<div class="input-field col s6 m4 l4 offset-s6 offset-m8 offset-l8">
			<i class="material-icons prefix">search</i>
			<input class="tooltipped" id="query" name="query" type="text" maxlength="20" data-ng-model="lista.query"
				data-ng-change="lista.search()" data-uppercase data-position="bottom" data-tooltip="Digite o produto">
			<label for="query">Buscar Produto</label>
		</div>
	</div>
	<table class="table highlight responsive-table centered col s12" at-table at-paginated at-list="lista.produtos"
		at-config="lista.config">
		<thead></thead>
		<tbody>
			<tr>
				<td at-title="Descrição do Produto" at-implicit at-attribute="descricao_produto" at-sortable
					width="35%"></td>
				<td at-title="Fabricante" at-implicit at-attribute="fabricante_produto" width="20%"></td>
				<td at-title="Localizacao" at-implicit at-attribute="localizacao_produto" width="20%"></td>
				<td at-title="Unidade" at-implicit at-attribute="unidade_produto" width="10%"></td>
				<td at-title="Ação" width="15%">
					<button tooltips class="btn-floating red" tooltip-side="bottom" tooltip-template="Excluir produto"
						data-ng-click="lista.modal(item)"><i class="material-icons">delete</i></button>
					<button tooltips class="btn-floating hide-on-med-and-down" tooltip-side="bottom"
						tooltip-template="Editar produto"
						data-ui-sref="menu.editarproduto({id_produto: item.id_produto})"><i
							class="material-icons">mode_edit</i></button>
				</td>
			</tr>
		</tbody>
	</table>
	<at-pagination class="right-align" at-list="lista.produtos" at-config="lista.config"></at-pagination>
</div>
<div id="excluir_produto" class="modal">
	<div class="modal-content center-align">
		<h4>ALERTA!</h4>
		<p class="flow-text">Deseja excluir o produto {{lista.modal_data.descricao_produto}} ?</p>
	</div>
	<div class="modal-footer">
		<button data-ng-click="lista.excluir(lista.modal_data.id_produto)"
			class="modal-action modal-close waves-effect waves-green btn-flat">Sim</button>
		<button class="modal-action modal-close waves-effect waves-red btn-flat">Não</button>
	</div>
</div>