<ul id="slide-out" class="sidenav sidenav-fixed noprint">
	<li>
		<div class="user-view center-align">
			<a><img class="circle" src="dist/img/brasao.png"></a>
			<a><span class="name">Prefeitura de Gravatá</span></a>
			<a><span class="email">Gestão de Administrativa Municipal</span></a>
		</div>
	</li>
	<li>
		<div class="divider"></div>
	</li>
	<li>
		<a class="collapsible-header waves-effect sidenav-close" data-ui-sref="menu.dashboard">Dashboard</a>
	</li>
	<li>
		<div class="divider"></div>
	</li>
	<li>
		<ul class="collapsible">
			<li>
				<a class="collapsible-header waves-effect">Gestão de Almoxarifado<i
						class="material-icons right">arrow_drop_down</i></a>
				<div class="collapsible-body">
					<ul class="collapsible">
						<li>
							<a class="collapsible-header waves-effect">Departamento<i
									class="material-icons right">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<ul>
									<li class="sidenav-close"><a data-ui-sref="menu.departamentos">Novo Departamento</a>
									</li>
									<li class="sidenav-close"><a data-ui-sref="menu.listardepartamentos">Listar
											Departamentos</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect">Guias<i
									class="material-icons right">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<ul>
									<li class="sidenav-close"><a data-ui-sref="menu.gerarguiaentrada">Nova Guia de
											Entrada</a></li>
									<li class="sidenav-close"><a data-ui-sref="menu.listarentradas">Listar Guias de
											Entrada</a></li>
									<li class="sidenav-close"><a data-ui-sref="menu.gerarguiasaida">Nova Guia de
											Saída</a></li>
									<li class="sidenav-close"><a data-ui-sref="menu.listarsaidas">Listar Guias de
											Saída</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect">Relatórios<i
									class="material-icons right">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<ul>
									<li class="sidenav-close"><a data-ui-sref="menu.relatoriopordepartamento">Relatório
											Departamento</a></li>
									<li class="sidenav-close"><a data-ui-sref="menu.relatorioentrada">Relatório
											Entradas</a></li>
									<li class="sidenav-close"><a
											data-ui-sref="menu.relatorioentradafornecedor">Relatório Fornecedor</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect sidenav-close"
								data-ui-sref="menu.estoque">Estoque</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div class="divider"></div>
	</li>
	<li>
		<ul class="collapsible">
			<li>
				<a class="collapsible-header waves-effect">Gestão de Contratos<i
						class="material-icons right">arrow_drop_down</i></a>
				<div class="collapsible-body">
					<ul class="collapsible">
						<li>
							<a class="collapsible-header waves-effect">Contratos<i
									class="material-icons right">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<ul>
									<li class="sidenav-close"><a data-ui-sref="menu.contratos">Novo Contrato</a></li>
									<li class="sidenav-close"><a data-ui-sref="menu.listarcontratos">Listar
											Contratos</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect">Fornecedores<i
									class="material-icons right">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<ul>
									<li class="sidenav-close"><a data-ui-sref="menu.fornecedores">Novo Fornecedor</a>
									</li>
									<li class="sidenav-close"><a data-ui-sref="menu.listarfornecedores">Listar
											Fornecedores</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect">Produtos<i
									class="material-icons right">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<ul>
									<li class="sidenav-close"><a data-ui-sref="menu.produtos">Novo Produto</a></li>
									<li class="sidenav-close"><a data-ui-sref="menu.listarprodutos">Listar Produtos</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect">Ordens<i
									class="material-icons right">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<ul>
									<li class="sidenav-close"><a data-ui-sref="menu.gerarordemfornecimento">Nova Ordem
											de Fornecimento</a></li>
									<li class="sidenav-close"><a data-ui-sref="menu.listarordens">Listar Ordens de
											Fornecimento</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div class="divider"></div>
	</li>
	<li>
		<ul class="collapsible">
			<li>
				<a class="collapsible-header waves-effect">Gestão da Frota<i
						class="material-icons right">arrow_drop_down</i></a>
				<div class="collapsible-body">
					<ul class="collapsible">
						<li>
							<a class="collapsible-header waves-effect">Veículos<i
									class="material-icons right">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<ul>
									<li class="sidenav-close"><a data-ui-sref="menu.veiculos">Novo Veículo</a></li>
									<li class="sidenav-close"><a data-ui-sref="menu.listarveiculos">Listar Veículo</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect">Motoristas<i
									class="material-icons right">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<ul>
									<li class="sidenav-close"><a>Novo Motorista</a></li>
									<li class="sidenav-close"><a>Listar Motoristas</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a class="collapsible-header waves-effect">Multas<i
									class="material-icons right">arrow_drop_down</i></a>
							<div class="collapsible-body">
								<ul>
									<li class="sidenav-close"><a data-ui-sref="menu.gerarordemfornecimento">Nova
											Multa</a></li>
									<li class="sidenav-close"><a data-ui-sref="menu.listarordens">Listar Multas</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div class="divider"></div>
	</li>
	<li>
		<ul class="collapsible">
			<li>
				<a class="collapsible-header waves-effect">Configurações<i
						class="material-icons right">arrow_drop_down</i></a>
				<div class="collapsible-body">
					<!-- <ul>
						<li class="sidenav-close"><a data-ui-sref="menu.tipos">Novo Tipo</a></li>
					</ul> -->
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div class="divider"></div>
	</li>
	<li>
		<a class="collapsible-header waves-effect sidenav-close" data-ng-click="menu.logout()">Logout<i
				class="material-icons right">exit_to_app</i></a>
	</li>
</ul>
<nav class="noprint">
	<div class="nav-wrapper container">
		<a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only black-text"><i
				class="material-icons">menu</i></a>
	</div>
</nav>
<div class="row" data-ui-view></div>